/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}


/******************************************
/* BASE STYLES
/*******************************************/

body {
    background-color: rgb(79, 172, 248);
    background: linear-gradient(rgb(79, 172, 248), rgb(24, 50, 73)); 
    height: 100%;
}


/******************************************
/* LAYOUT
/*******************************************/

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 2%;
}

h1{
    font: 600 3rem/3rem 'Georgia', sans-serif;
    text-shadow: 2.5px 2px 5px rgb(56, 94, 133);
}

h1, h2{
    margin: 0;
    font-family: 'Gothic+A1', arial, sans-serif;
    font-weight: 600;
}
h2{
    font-size: 2rem;
    margin-bottom: 15px;
}
p{
    font: 400 1.5rem/1.5rem 'Arial', sans-serif;
    padding: 2% 2%;
    text-align: center;
    line-height: 2rem;
}
.info-display{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.info-display>div{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.character-choice{
    display: flex;
    padding: 0 8%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.character-choice  > div{
    margin: 10px;
}

.character-choice  > div > img{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    object-fit: cover;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

img{
    box-shadow: 9px 20px 20px rgba(0, 0, 0, 0.4),
    0px 0px 50px rgba(0, 0, 0, 0.4);

}

@media screen and (max-width: 1150px){

    h1, h2, p{
        display: flex;
        word-wrap: normal;
        text-align: center;
        padding: 1% 5%;
    }
}